<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
       <meta charset="UTF-8">
    <title>글보기</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
       <script>
       		var ctxPath = '/Farmstory';
       
 			$(document).ready(function(){
 			if ($('div .comment').length != 0 ){
   			 $('p[name=empty]').hide();
 			}
 			$('a[name=commentModify]').click(function(){
 				
 				if ($(event.target).text()=='수정') {
	
	 				$(event.target).text('수정완료');
	 				$(event.target).parents("div").prev().attr('readonly', false);
					$(event.target).parents("div").prev().css({
										'backgroundColor': '#ffffff',
										'border': '1px solid #e4eaec'});	
 				}else {
		 			$(event.target).html('수정');
	 				$(event.target).parents("div").prev().attr('readonly', true);
	 				$(event.target).parents("div").prev().css({
										'backgroundColor': '#f9f9f9',
										'border': '1px solid #f9f9f9'});
	 				var text = ($(event.target).parents("div").prev().val());
	 				var parent = ($(event.target).parents("div").prev().prev().val());
	 				var seq = ($(event.target).parents("div").prev().prev().prev().val());
	 				var cate = ($(event.target).parents("div").prev().prev().prev().prev().val());
	 				var group = ($(event.target).parents("div").prev().prev().prev().prev().prev().val());
	 				var jsonData = {
						'seq': seq, 
						'parent': parent, 
						'cate': cate, 
						'group': group, 
						'content': text		
					};
	 				
	 				$.ajax({
						url:ctxPath+'/modifyComment',
						type:'post',
						data: jsonData,
						dataType: 'json',
						success: function(data){	}
					});
	 				
 				}
 				
 				return false;
 			});
 			
 			
 			
  		    });
 			
 			
 			
    </script>
</head>
<body>
    <div id="wrapper">
    	<th:block th:include="/_header.html"></th:block>
    	<th:block th:include="/board/_aside__${group}__.html"></th:block>
        <section id="board" class="view">
            <h3>글보기</h3>
            <table>
                <tr>
                    <td>제목</td>
                    <td><input type="text" name="title" th:value="${articleVo.title}" readonly/></td>
                </tr>
                <tr th:if="${articleVo.file == 1}">
                    <td>첨부파일</td>
                    <td>
                        <a th:href="@{/fileDownload(fseq=${articleVo.fileVo.fseq})}">[[${articleVo.fileVo.oriName}]]</a>
                        <span>[[${articleVo.fileVo.download}]]회 다운로드</span>
                    </td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td>
                        <textarea class="commentText" name="content" readonly>[[${articleVo.content}]]</textarea>
                    </td>
                </tr>
            </table>
           <div >
           
                 <a th:if=${articleVo.uid==session.sessMember.uid} th:href="@{/delete(group=${group},cate=${cate},seq=${articleVo.seq})}" class="btnDelete">삭제</a>
                <a th:if=${articleVo.uid==session.sessMember.uid}  th:href="@{/board/modify(group=${group},cate=${cate},seq=${articleVo.seq})}"                           class="btnModify">수정</a>
                <a th:href="@{/board/list(group=${group},cate=${cate})}" class="btnList">목록</a>
                
            </div>  
            
            <!-- 댓글리스트 -->
            <section class="commentList">
                <h3>댓글목록</h3>
                 <article th:each="comment, i:${comments}" class="comment">
                    <span>
                        <span>[[${comment.nick}]]</span>
                        <span>[[${comment.rdate.substring(2, 10)}]]</span>
                    </span>
                 	<input type="hidden" th:value="${group}"/>
		        	<input type="hidden" th:value="${cate}"/>
		        	<input type="hidden" th:value="${comment.seq}"/>
		      		<input type="hidden" th:value="${comment.parent}"/>
		      		
                    <textarea name="content" readonly>[[${comment.content}]]</textarea>
                    <div th:if=${comment.uid==session.sessMember.uid}>
                
                        <a th:href="@{/deleteComment(group=${group},cate=${cate},seq=${comment.seq})}">삭제</a>
                        <a th:href="@{/modifyComment(group=${group},cate=${cate},seq=${comment.seq},parent=${comment.parent})}" name = "commentModify" >수정</a>
                    </div>               
                </article>
                  <p name="empty" class="empty">
                    등록된 댓글이 없습니다.
                </p>
            </section>

            <!-- 댓글입력폼 -->
            <section class="commentForm">
                <h3>댓글쓰기</h3>
          		<form th:action="@{view}" method="post" enctype="multipart/form-data">
        	
                <input type="hidden" name="group" th:value="${group}"/>
		        <input type="hidden" name="cate" th:value="${cate}"/>
                <input type="hidden" name="uid" th:value="${session.sessMember.uid}"/>
		        <input type="hidden" name="seq" th:value="${articleVo.seq}"/>
			          
                    <textarea name="content"></textarea>
                    <div>
                        <a th:href="@{/board/view(group=${group}, cate=${cate},seq=${articleVo.seq})}" class="btnCancel">취소</a>
                        <input type="submit" class="btnWrite" value="작성완료"/>
                    </div>
                </form>
            </section>
        </section>
        <!-- 내용 끝 -->
            </section>
        </div>
    	<th:block th:include="/_footer.html"></th:block>
    </div>    
</body>
</html>